<!-- FORM TO ADD SIMULATION -->

<!-- TODO provide validation for - infected < population itp -->
<div class="addSimulation-section">
  <div class="row ml-4">
    <h5 class="mb-3">Create New Epidemic Simulation:</h5>
  </div>
  <div>
    <form [formGroup]="simulationForm" (ngSubmit)="submitSimulation()" class="form-horizontal">
      <fieldset class="form-group row ">
        <label class="col-sm-2 col-form-label" for="simulationName"> {{ ParameterName.SIMULATION_NAME }}:</label>
        <div class="col-sm-9 pr-0">
          <input #simulationName class="form-control" type="text" id="simulationName" formControlName="simulationName" placeholder="Simulation Name">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="population">{{ ParameterName.POPULATION }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="population" formControlName="population" placeholder="Population" name="population"
            step="1">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="initInfected">{{ ParameterName.INIT_INFECTED }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="initInfected" formControlName="initInfected" placeholder="Initially Infected People" step="1">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="reproductionNum">{{ ParameterName.REPRODUCTION_NUM }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="reproductionNum" formControlName="reproductionNum" placeholder="Reproduction Number" step="0.01">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="morality">{{ ParameterName.MORALITY }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="morality" formControlName="morality" placeholder="Mortality" step="0.1">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="recoveryTime">{{ ParameterName.RECOVERY_TIME }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="recoveryTime" formControlName="recoveryTime" placeholder="Recovery Time" step="1">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="deathTime">{{ ParameterName.DEATH_TIME }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="deathTime" formControlName="deathTime" placeholder="Time of Death " step="1">
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <label class="col-sm-2 col-form-label" for="simulationTime">{{ ParameterName.SIMULATION_TIME }}:</label>
        <div class="col-sm-9 pr-0">
          <input class="form-control" type="number" id="simulationTime" formControlName="simulationTime" placeholder="Simulation Time" step="1">
        </div>
      </fieldset>
      <div class="row">
        <div class="col text-right">
          <button type="reset" class="btn btn-outline-secondary big-button">Clear</button>
          <button type="submit" [disabled]="simulationForm.invalid" class="btn btn-warning big-button">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END OF FORM TO ADD SIMULATION -->