<!-- PAGE CONTAINER-->

<!-- HEADER DESKTOP-->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Epidemic simulation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
    aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
<!-- END HEADER DESKTOP-->

<!-- MAIN CONTENT-->
<router-outlet></router-outlet>

<!-- FOOTER -->

<footer id="footer" class="grey-section">
  <div class="container-fluid">
    <p>© Sylwia Polar 2021</p>
  </div>

</footer>

<!-- END OF FOOTER -->