<!-- FORM TO ADD NEW SIMULATION -->

<app-add-simulation-form></app-add-simulation-form>

<!-- END OF FORM TO ADD NEW SIMULATION -->


<!-- TABLE WITH ALL SIMULATIONS PARAMETERS -->

<div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>{{ ParameterName.ID }}</th>
        <th>{{ ParameterName.SIMULATION_NAME }}</th>
        <th>{{ ParameterName.POPULATION }}</th>
        <th>{{ ParameterName.INIT_INFECTED }}</th>
        <th>{{ ParameterName.REPRODUCTION_NUM }}</th>
        <th>{{ ParameterName.MORALITY }}</th>
        <th>{{ ParameterName.RECOVERY_TIME }}</th>
        <th>{{ ParameterName.DEATH_TIME }}</th>
        <th>{{ ParameterName.SIMULATION_TIME }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sim of simulationParametersList">
        <td>{{ sim.id }}</td>
        <td>{{ sim.simulationName }}</td>
        <td>{{ sim.population }}</td>
        <td>{{ sim.initInfected }}</td>
        <td>{{ sim.reproductionNum }}</td>
        <td>{{ sim.mortality }}</td>
        <td>{{ sim.recoveryTime }}</td>
        <td>{{ sim.deathTime }}</td>
        <td>{{ sim.simulationTime }}</td>
        <!-- TODO change it to give link for whole row and ad delete option-->
        <td><a routerLink="/simulations/{{ sim.id }}">View Details</a></td>
        <td><button (click)="deleteSimulation(sim.id)" type="button" >Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- END OF TABLE WITH ALL SIMULATIONS PARAMETERS -->
